<!DOCTYPE html>
<html>
<head><link  rel="stylesheet" href="../css/styles.css" >

<link rel="icon" href="/imgs/weather.png">

<title>About</title>
</head>
<body>
  <div class="main-content">
 {{>header}}
 <p>This site was created by Michele Foti. It uses data from mapbox.com and darkski.net</p>
  <img class="portrait" src="../imgs/foto.jpg"></div>
{{>footer}}
</body>

</html>